<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfs.tlmarket.mapper.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.wfs.tlmarket.models.GoodsInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="GOODS_NO" jdbcType="VARCHAR" property="goodsNo" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="GOODS_TYPE" jdbcType="VARCHAR" property="goodsType" />
    <result column="GOODS_SPECIFY" jdbcType="VARCHAR" property="goodsSpecify" />
    <result column="GOODS_PRICE" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="GOODS_PHTOT" jdbcType="VARCHAR" property="goodsPhtot" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GOODS_NO, GOODS_NAME, GOODS_TYPE, GOODS_SPECIFY, GOODS_PRICE, GOODS_PHTOT, STATUS, 
    CREATED_BY, CREATED_AT, UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from M_GOODS_INFO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from M_GOODS_INFO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wfs.tlmarket.models.GoodsInfo">
    insert into M_GOODS_INFO (ID, GOODS_NO, GOODS_NAME, 
      GOODS_TYPE, GOODS_SPECIFY, GOODS_PRICE, 
      GOODS_PHTOT, STATUS, CREATED_BY, 
      CREATED_AT, UPDATED_BY, UPDATED_AT
      )
    values (#{id,jdbcType=INTEGER}, #{goodsNo,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsType,jdbcType=VARCHAR}, #{goodsSpecify,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, 
      #{goodsPhtot,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wfs.tlmarket.models.GoodsInfo">
    insert into M_GOODS_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="goodsNo != null">
        GOODS_NO,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="goodsType != null">
        GOODS_TYPE,
      </if>
      <if test="goodsSpecify != null">
        GOODS_SPECIFY,
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE,
      </if>
      <if test="goodsPhtot != null">
        GOODS_PHTOT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsNo != null">
        #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecify != null">
        #{goodsSpecify,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPhtot != null">
        #{goodsPhtot,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wfs.tlmarket.models.GoodsInfo">
    update M_GOODS_INFO
    <set>
      <if test="goodsNo != null">
        GOODS_NO = #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null">
        GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecify != null">
        GOODS_SPECIFY = #{goodsSpecify,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPhtot != null">
        GOODS_PHTOT = #{goodsPhtot,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wfs.tlmarket.models.GoodsInfo">
    update M_GOODS_INFO
    set GOODS_NO = #{goodsNo,jdbcType=VARCHAR},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      GOODS_SPECIFY = #{goodsSpecify,jdbcType=VARCHAR},
      GOODS_PRICE = #{goodsPrice,jdbcType=DECIMAL},
      GOODS_PHTOT = #{goodsPhtot,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>