<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfs.tlmarket.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.wfs.tlmarket.models.OrderInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="GOODS_NO" jdbcType="VARCHAR" property="goodsNo" />
    <result column="GOODS_COUNT" jdbcType="DECIMAL" property="goodsCount" />
    <result column="GOODS_PRICE" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, GOODS_NO, GOODS_COUNT, GOODS_PRICE, STATUS, CREATED_BY, CREATED_AT, 
    UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from M_ORDER_INFO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from M_ORDER_INFO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wfs.tlmarket.models.OrderInfo">
    insert into M_ORDER_INFO (ID, ORDER_NO, GOODS_NO, 
      GOODS_COUNT, GOODS_PRICE, STATUS, 
      CREATED_BY, CREATED_AT, UPDATED_BY, 
      UPDATED_AT)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{goodsNo,jdbcType=VARCHAR}, 
      #{goodsCount,jdbcType=DECIMAL}, #{goodsPrice,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wfs.tlmarket.models.OrderInfo">
    insert into M_ORDER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="goodsNo != null">
        GOODS_NO,
      </if>
      <if test="goodsCount != null">
        GOODS_COUNT,
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wfs.tlmarket.models.OrderInfo">
    update M_ORDER_INFO
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null">
        GOODS_NO = #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null">
        GOODS_COUNT = #{goodsCount,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wfs.tlmarket.models.OrderInfo">
    update M_ORDER_INFO
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      GOODS_NO = #{goodsNo,jdbcType=VARCHAR},
      GOODS_COUNT = #{goodsCount,jdbcType=DECIMAL},
      GOODS_PRICE = #{goodsPrice,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>