<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfs.tlmarket.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.wfs.tlmarket.models.UserInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_NO" jdbcType="VARCHAR" property="userNo" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="USER_NICK_NAME" jdbcType="VARCHAR" property="userNickName" />
    <result column="USER_ICON" jdbcType="VARCHAR" property="userIcon" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="AUTHORITY" jdbcType="TINYINT" property="authority" />
    <result column="INTEGRAL" jdbcType="INTEGER" property="integral" />
    <result column="ORDER_SUCCESS_COUNT" jdbcType="INTEGER" property="orderSuccessCount" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NO, USER_NAME, PASSWORD, USER_NICK_NAME, USER_ICON, PHONE, AUTHORITY, INTEGRAL, 
    ORDER_SUCCESS_COUNT, STATUS, CREATED_BY, CREATED_AT, UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from M_USER_INFO
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from M_USER_INFO
    where USER_NAME = #{userName,jdbcType=VARCHAR}
    and STATUS = 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from M_USER_INFO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wfs.tlmarket.models.UserInfo">
    insert into M_USER_INFO (ID, USER_NO, USER_NAME, 
      PASSWORD, USER_NICK_NAME, USER_ICON, 
      PHONE, AUTHORITY, INTEGRAL, 
      ORDER_SUCCESS_COUNT, STATUS, CREATED_BY, 
      CREATED_AT, UPDATED_BY, UPDATED_AT
      )
    values (#{id,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{userNickName,jdbcType=VARCHAR}, #{userIcon,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{authority,jdbcType=TINYINT}, #{integral,jdbcType=INTEGER}, 
      #{orderSuccessCount,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createdBy,jdbcType=VARCHAR},
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wfs.tlmarket.models.UserInfo">
    insert into M_USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userNo != null">
        USER_NO,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="userNickName != null">
        USER_NICK_NAME,
      </if>
      <if test="userIcon != null">
        USER_ICON,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="authority != null">
        AUTHORITY,
      </if>
      <if test="integral != null">
        INTEGRAL,
      </if>
      <if test="orderSuccessCount != null">
        ORDER_SUCCESS_COUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null">
        #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=TINYINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="orderSuccessCount != null">
        #{orderSuccessCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wfs.tlmarket.models.UserInfo">
    update M_USER_INFO
    <set>
      <if test="userNo != null">
        USER_NO = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        USER_NICK_NAME = #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null">
        USER_ICON = #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="authority != null">
        AUTHORITY = #{authority,jdbcType=TINYINT},
      </if>
      <if test="integral != null">
        INTEGRAL = #{integral,jdbcType=INTEGER},
      </if>
      <if test="orderSuccessCount != null">
        ORDER_SUCCESS_COUNT = #{orderSuccessCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wfs.tlmarket.models.UserInfo">
    update M_USER_INFO
    set USER_NO = #{userNo,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      USER_NICK_NAME = #{userNickName,jdbcType=VARCHAR},
      USER_ICON = #{userIcon,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      AUTHORITY = #{authority,jdbcType=TINYINT},
      INTEGRAL = #{integral,jdbcType=INTEGER},
      ORDER_SUCCESS_COUNT = #{orderSuccessCount,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=TINYINT},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>